@using Todo.Services

@inject IGravatarService GravatarService

@model ProfileIdentifier

@{
    var profileInfo = await GravatarService.GetProfileInfo(Model.EmailAddress);

    <img src="@profileInfo.AvatarUrl" alt="User profile image"/>
    <span>@Model.Username</span>
    <span>@profileInfo.DisplayName</span>
}
